<div class="container">
  <div layout="row">
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Aroma</label>
        <textarea ng-model="dc.aroma" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Appearance</label>
        <textarea ng-model="dc.appearance" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
  </div>
  <div layout="row">
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Flavor</label>
        <textarea ng-model="dc.flavor" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Mouthfeel</label>
        <textarea ng-model="dc.mouthfeel" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
  </div>

  <div class="bottomHalf" layout="row">
    <!-- OFF FLAVORS COLUMN -->
    <div layout="column" flex="50">

      <!-- OFF FLAVORS INPUT FIELD -->
      <div layout="row">
        <!-- Off Flavor dropdown menu with descriptions -->
        <div id="offFlavors" layout="column" flex>
          <h3 class="md-title">Select the off flavors you detect.</h3>
          <md-menu id="offFlavorMenu">
            <md-button class="md-fab md-primary" ng-click="dc.openMenu($mdMenu, $event)"><i class="fa fa-bars" aria-hidden="true"></i></md-button>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="offFlavor in offFlavors" value="{{offFlavor.offFlavorName}}">
                <md-button ng-click="dc.showDescription(offFlavor.offFlavorName, offFlavor.offFlavorDescription)">
                  {{offFlavor.offFlavorName}}
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>

        </div>
      </div>

      <div layout="row">
        <table>
          <tr>
            <th>Off Flavor</th>
            <th>Description</th>
          </tr>
          <tr ng-repeat="offFlavor in dc.offFlavorArray">
            <td>{{offFlavor.offFlavorName}}</td>
            <td>{{offFlavor.offFlavorDescription}}</td>
          </tr>
        </table>
      </div>
    </div>
    <!-- OVERALL IMPRESSION AND NOTES COLUMN -->
    <div layout="column" flex="50">
      <div layout="row">
        <md-input-container class="md-block">
          <label>Other Notes or Issues?</label>
          <textarea ng-model="dc.batchNotes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Suspected Causes of Issues?</label>
          <textarea ng-model="dc.suspectedCauses" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </div>
      <div layout="row" layout-align="center center">
        <img id="dontDrink" src="../../assets/img/dontDrink.jpg" alt="">
      </div>
    </div>

  </div> <!-- end of bottom section -->

</div> <!-- end of container -->
