<div class="container">
  <fieldset>
  <div layout="row">
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Aroma</label>
        <textarea ng-model="dc.aroma" md-maxlength="150" rows="5" md-select-on-focus
          placeholder="Describe scents you detect: citrusy, flowery, fruity, or other esters" ></textarea>
      </md-input-container>
    </div>
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Appearance</label>
        <textarea ng-model="dc.appearance" md-maxlength="150" rows="5" md-select-on-focus
          placeholder="Describe color, clarity, and head (retention, color and texture)" ></textarea>
      </md-input-container>
    </div>
  </div>
  <div layout="row">
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Flavor</label>
        <textarea ng-model="dc.flavor" md-maxlength="150" rows="5" md-select-on-focus
          placeholder="Describe dominant flavors - malty, bitter, hoppy, roasty, sweet, sour, fruity, spicy, etc. - and finish/aftertaste" ></textarea>
      </md-input-container>
    </div>
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Mouthfeel</label>
        <textarea ng-model="dc.mouthfeel" md-maxlength="150" rows="5" md-select-on-focus
          placeholder="Comment on body, carbonation, warm, creaminess, astringency, and other palate sensations"></textarea>
      </md-input-container>
    </div>
  </div>
  <div layout="row">
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Other Notes or Issues?</label>
        <textarea ng-model="dc.batchNotes" md-maxlength="150" rows="5" md-select-on-focus
          placeholder="Here you could comment on quality of the bottle conditioning, kegging, lagering, or aging"></textarea>
      </md-input-container>
    </div>
      <div layout="column" layout-align="center center" flex>
        <img id="doDrink" ng-src="../../assets/img/doDrink.jpg" alt="">
      </div>
  </div>
  </fieldset>
</div>
