<div class="container">
  <div layout="row">
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Aroma</label>
        <textarea ng-model="rc.aroma" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Appearance</label>
        <textarea ng-model="rc.appearance" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
  </div>
  <div layout="row">
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Flavor</label>
        <textarea ng-model="rc.flavor" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Mouthfeel</label>
        <textarea ng-model="rc.mouthfeel" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
  </div>
  <div layout="row">
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Overall Impresisons</label>
        <textarea ng-model="rc.impressions" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
    <div layout="column" flex="50">
      <md-input-container class="md-block">
        <label>Other Notes or Issues?</label>
        <textarea ng-model="rc.drinkNotes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
  </div>

</div>
