<div id="hopBlock" layout="row" flex>
  <!--IMAGE -*- LEFTMOST COLUMN -->
  <div layout="column" layout-align="start center" flex="10">
    <img id="hopIcon" ng-src="../../assets/img/hopIcon.jpg" alt="Hop icon">
  </div>

  <!-- HOP INPUTS -*- MIDDLE COLUMN -->
  <div layout="column" flex="30">
    <md-content>
      <div layout="row" flex>

        <!-- PULLDOWN MENU FOR COMMON HOPS -->
        <md-input-container class="md-block">
          <label>Select common hop type</label>
          <md-select ng-model="rc.hopType">
            <md-option ng-repeat="hopType in rc.ingredients.hopTypes" value="{{hopType}}">{{hopType}}</md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row" flex>
        <!-- PULLDOWN MENU FOR COMMON HOPS & SEARCH BAR FOR MORE SPECIFIC ONES-->
        <md-input-container class="md-block" flex>
          <label>Enter hop name:</label>
          <input type="text" ng-model="rc.hopName" />
        </md-input-container>
      </div>

      <!-- SEPARATE ROW WITH INPUTS FOR HOP USE & AMOUNT -->
      <div layout="row" flex>
        <md-input-container class="md-block">
          <label>Hop Use</label>
          <md-select ng-model="rc.hopUse">
            <md-option ng-repeat="hopUse in rc.ingredients.hopUse" value="{{hopUse}}">{{hopUse}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>Hop Amount:</label>
          <input type="number" placeholder="Enter weight in ounces" ng-model="rc.hopAmt" />
        </md-input-container>
      </div>

      <!-- ROW WITH INPUTS FOR HOP AMT & TIMINGS (BREW & DRY HOPPING) -->
      <div layout="row" flex>
        <md-input-container>
          <label>Hop Timing - Brewing:</label>
          <input type="number" placeholder="Min. from end of boil" ng-model="rc.hopTimeBrew" />
        </md-input-container>

        <md-input-container>
          <label>Hop Timing or Notes - Dry Hop:</label>
          <input type="text" placeholder="When to dry hop?" ng-model="rc.hopTimeDry" />
        </md-input-container>

        <!-- BUTTON TO ADD HOP TO LIST -->
        <md-button class="md-fab md-primary" ng-click="rc.addHop(rc.hopType, rc.hopName, rc.hopUse, rc.hopAmt, rc.hopTimeBrew, rc.hopTimeDry)">Add</md-button>
      </div>
    </md-content>
  </div>

  <!--HOPS - LIST OF ADDITIONS -->
  <div layout="column" flex="60">
    <table id="hopTable">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Amount</th>
          <th>Use</th>
          <th>Time in Brew</th>
          <th>Dry Hop Time</th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tr ng-repeat="hop in rc.hops">
        <td><span editable-text="hop.hopType" e-name="type" e-form="hopform">{{hop.hopType}}</span></td>
        <td><span editable-text="hop.hopName" e-name="type" e-form="hopform">{{hop.hopName}}</span></td>
        <td><span editable-text="hop.hopAmt" e-name="type" e-form="hopform">{{hop.hopAmt}} oz.</span></td>
        <td><span editable-text="hop.hopUse" e-name="type" e-form="hopform">{{hop.hopUse}}</span></td>
        <td><span editable-text="hop.hopTimeBrew" e-name="type" e-form="hopform">{{hop.hopTimeBrew}} min.</span></td>
        <td><span editable-text="hop.hopTimeDry" e-name="type" e-form="hopform">{{hop.hopTimeDry}}</span></td>
        <!-- Edit buttons -->
        <td>
          <!-- Form -->
          <form editable-form name="hopform" ng-show="hopform.$visible">
            <button type="submit" ng-disabled="hopform.$waiting" class="btn btn-primary" ng-click="rc.updateHop()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
            <button type="button" ng-disabled="hopform.$waiting" ng-click="hopform.$cancel()" class="btn btn-default">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
          </form>
          <div class="buttons" ng-show="!hopform.$visible">
          <button type="button" class="btn btn-primary" ng-click="hopform.$show()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-danger" ng-click="rc.deleteHop(hop.hopType, hop.hopName)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </td>
      </tr>
    </table>
  </div>


</div> <!-- END OF HOP BLOCK -->
