<div id="maltBlock" layout="row" flex>

  <!--IMAGE-->
  <div layout="column" layout-align="start center" flex="20">
    <img class="ingredientIcon" ng-src="../../assets/img/grainIcon.jpg" alt="">
  </div>

  <!--MALT INPUTS-->
  <div layout="column" flex="40">
    <md-content>
      <div layout="row" layout-align="start start" flex>
        <!-- Malt type pulldown menu -->
        <md-input-container style="margin-right: 10px;">
          <label>Malt Type</label>
          <md-select ng-model="rc.maltType">
              <md-option ng-repeat="maltType in rc.ingredients.maltTypes" value="{{maltType}}">{{maltType}}</md-option>
          </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Malt Name:</label>
          <input type="text" ng-model="rc.maltName" />
        </md-input-container>
      </div>
      <div layout="row" flex>
        <div layout="column" flex="75">
          <md-input-container>
            <label>Malt Amount:</label>
            <input type="text" placeholder="Enter weight in pounds" ng-model="rc.maltAmtLbs" />
          </md-input-container>

          <md-input-container>
            <label>Smaller Malt Amounts:</label>
            <input type="text" placeholder="Enter weight in ounces" ng-model="rc.maltAmtOz" />
          </md-input-container>
        </div>

        <div layout="column" layout-align="end end" flex>
          <md-button class="md-fab md-primary" ng-click="rc.addMalt(rc.maltType, rc.maltName, rc.maltAmtLbx, rc.maltAmtOz)">Add</md-button>
        </div>

      </div>
    </md-content>
  </div>
  <!--MALTS - LIST OF ADDITIONS -->
  <div layout="column" flex="40">
    <table id="maltTable">
      <thead>
        <tr>
          <th>Type</th>
          <th>Amount (lbs.)</th>
          <th>Amount (oz.)</th>
          <th>Name</th>
        </tr>
      </thead>

      <tr ng-repeat="malt in rc.malts">
        <td>{{malt.maltType}}</td>
        <td>{{malt.maltAmtLbs}} lbs.</td>
        <td>{{malt.maltAmtOz}} oz.</td>
        <td>{{malt.maltName}}</td>
      </tr>
    </table>
  </div>
</div> <!-- END OF MALT BLOCK -->
