<!-- YEAST INGREDIENT BLOCK  -->
<div id="yeastBlock" layout="row" flex>

  <!--IMAGE-->
  <div layout="column" layout-align="start center" flex="10">
    <img id="yeastIcon" ng-src="../../assets/img/yeastIcon.jpg" alt="yeastIcon">
  </div>

  <!--YEAST INPUTS-->
  <div layout="column" flex="30">
    <md-content>
    <ng-form name="rc.yeastForm" class="yeastForm">
      <div layout="row" flex>

        <!-- Yeast Supplier dropdown menu & text input for yeast type -->
        <md-input-container style="margin-right: 10px;">
          <label>Yeast Supplier</label>
          <md-select ng-model="rc.yeastSupplier">
            <md-option ng-repeat="yeastSupplier in rc.ingredients.yeastSuppliers" value="{{yeastSupplier}}">{{yeastSupplier}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-xs>
          <label>Yeast Type:</label>
          <input type="search" ng-model="rc.yeastType" />
        </md-input-container>
      </div>
      <!-- Yeast rehydrate checkbox and Add Button -->
      <div layout="row" flex>
        <div layout="column" layout-align="center start" flex="50">
          <md-input-container>
            <label>Rehydrate?</label>
            <input type="text" placeholder="Yes or No" ng-model="rc.rehydrate" />
          </md-input-container>
        </div>
        <div layout="column" layout-align="center end" flex="50">
          <md-button class="md-fab md-primary" ng-click="rc.addYeast(rc.yeastSupplier, rc.yeastType, rc.rehydrate)">Add</md-button>
        </div>
      </div>
    </ng-form>
    </md-content>
  </div>

  <!--YEAST - LIST OF ADDITIONS -->
  <div layout="column" flex="60">
    <table id="yeastTable">
      <thead>
        <tr>
          <th>Supplier</th>
          <th>Type</th>
          <th>Rehydrate?</th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat="yeast in rc.yeasts">
        <td><span editable-text="yeast.yeastSupplier" e-name="type" e-form="yeastform">{{yeast.yeastSupplier}}</span></td>
        <td><span editable-text="yeast.yeastType" e-name="type" e-form="yeastform">{{yeast.yeastType}}</span></td>
        <td><span editable-text="yeast.rehydrate" e-name="type" e-form="yeastform">{{yeast.rehydrate}}</span></td>
        <!-- Edit buttons -->
        <td>
          <!-- Form -->
          <form editable-form name="yeastform" ng-show="yeastform.$visible">
            <button type="submit" ng-disabled="yeastform.$waiting" class="saveBtn" ng-click="rc.updateYeast()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
            <button type="button" ng-disabled="yeastform.$waiting"  class="cancelBtn" ng-click="yeastform.$cancel()">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
          </form>
          <div class="buttons" ng-show="!yeastform.$visible">
          <button type="button" class="editBtn" ng-click="yeastform.$show()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          <button type="button" class="deleteBtn" ng-click="rc.deleteYeast(yeast.yeastType)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div> <!-- END OF YEAST BLOCK -->

<hr>
<!-- OTHER INGREDIENTS SECTION -->
<div id="ingredientBlock" layout="row" flex>

  <!--IMAGE-->
  <div layout="column" layout-align="center center" flex="15">
    <img id="honeyIcon" ng-src="../../assets/img/honey.png" alt="honeyIcon">
  </div>

  <!--OTHER ADDITIONS - TEXT INPUTS-->
  <div layout="column" layout-align="start start" flex="40">
    <md-content>
    <ng-form name="rc.ingredientForm" class="ingredientForm">
      <div layout="row" flex>
        <div layout="column" flex="40">
          <md-input-container class="md-block" flex>
            <label>Other Ingredient Type:</label>
            <input type="text" ng-model="rc.ingredientType" />
          </md-input-container>
        </div>
        <div layout="column" flex="40">
          <md-input-container class="md-block" flex>
            <label>Ingredient Amount:</label>
            <input type="text" ng-model="rc.ingredientAmt" />
          </md-input-container>
        </div>
        <div layout="column" layout-align="center end" flex>
          <md-button class="md-fab md-primary" ng-click="rc.addIngredient(rc.ingredientType, rc.ingredientAmt, rc.ingredientNotes)">Add</md-button>
        </div>
      </div>
      <div layout="row" flex>
        <md-input-container class="md-block" flex>
          <label>Addition Notes:</label>
          <input type="text" ng-model="rc.ingredientNotes" />
        </md-input-container>
      </div>
    </ng-form>
    </md-content>
  </div>

  <!--Other Additions - LIST OF ADDITIONS -->
  <div layout="column" flex="45">
    <table id="ingredientTable">
      <thead>
        <tr>
          <th>Type</th>
          <th>Amount</th>
          <th>Notes</th>
          <th></th>
        </tr>
      </thead>
      <tr ng-repeat="ingredient in rc.otherIngredients">
        <td><span editable-text="ingredient.ingredientType" e-name="type" e-form="ingredientform">{{ingredient.ingredientType}}</span></td>
        <td><span editable-text="ingredient.ingredientAmt" e-name="type" e-form="ingredientform">{{ingredient.ingredientAmt}}</span></td>
        <td><span editable-text="ingredient.ingredientNotes" e-name="type" e-form="ingredientform">{{ingredient.ingredientNotes}}</span></td>
        <!-- Edit buttons -->
        <td>
          <!-- Form -->
          <form editable-form name="ingredientform" ng-show="ingredientform.$visible">
            <button type="submit" ng-disabled="ingredientform.$waiting" class="saveBtn" ng-click="rc.updateIngredient()">
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
            </button>
            <button type="button" ng-disabled="ingredientform.$waiting" class="cancelBtn" ng-click="ingredientform.$cancel()">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </button>
          </form>
          <div class="buttons" ng-show="!ingredientform.$visible">
          <button type="button" class="editBtn" ng-click="ingredientform.$show()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
          <button type="button" class="deleteBtn" ng-click="rc.deleteIngredient(ingredient.ingredientType)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div> <!-- End of ingredient block -->
