<div ng-include="'views/partials/nav.html'"></div>

<div class="container">
  <div class="upperHalf" layout="row" flex>
    <!-- LEFT SIDE: RECIPE DETAILS, PROCEDURE -->
      <div class="recipeSummary" layout="row" flex>
          <div layout="row" flex>
            <md-content>
              <h2>Brew Recipe</h2>
              <md-subheader class="md-no-sticky">Recipe Summary:</md-subheader>
                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3>Recipe Name:</h3>
                    <p>Chocolate Oatmeal Stout</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3>Beer Style:</h3>
                    <p>Stout, Oatmeal</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3>Recipe Type:</h3>
                    <p>All-grain</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3>Primary Fermentation:</h3>
                    <p>2 weeks</p>
                  </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                  <div class="md-list-item-text">
                    <h3>Secondary Fermentation:</h3>
                    <p>18 days</p>
                  </div>
                </md-list-item>
            </md-content>
          </div>
          <div layout="row" flex>
            <label>Procedure</label>
            <textarea ng-model="rc.procedure" md-maxlength="500" rows="5" md-select-on-focus></textarea>
          </div>
        </div>
      </div>

    <!-- RIGHT SIDE: INGREDIENT SUMMARY -->
      <div class="rightSide" layout="column" flex="60">
        <div class="topRow" layout="row">
          <div layout="row">
            <div class="date">
              <input type="date">
            </div>
            <div class="saveBtn">
              <md-button class="md-primary">Save Brew Notes</md-button>
            </div>
          </div>
        </div>
        <div class="ingredientTable" layout="row">
          <table>
            <tr>
              <th>Ingredient</th>
              <th>Amount</th>
              <th>Timing</th>
              <th>Added</th>
            </tr>
            <tr>
              <td>Pale Malt</td>
              <td>10 lbs</td>
              <td></td>
              <td><md-checkbox>Added</md-checkbox></td>
            </tr>
            <tr>
              <td>Hallertau hops</td>
              <td>1 oz</td>
              <td>0 min</td>
              <td><md-checkbox>Added</md-checkbox></td>
            </tr>
            <tr>
              <td>Centennial hops</td>
              <td>1 oz</td>
              <td>50 min</td>
              <td><md-checkbox>Added</md-checkbox></td>
            </tr>
          </table>
        </div>

      </div> <!-- End of right side -->
  </div> <!-- End upper half -->

<!-- BOTTOM ROW: NOTES ON RECIPE, BREWING, AND MASH -->
  <div class="bottomRow" layout="row" flex>
    <div layout="column" flex="33">
      <md-input-container class="md-block">
        <label>Recipe Notes</label>
        <textarea ng-model="rc.recipeNotes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
    <div layout="column" flex="33">
      <md-input-container class="md-block">
        <label>Brewing Notes</label>
        <textarea ng-model="rc.brewNotes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>
    <div layout="column" flex="33">
      <md-input-container class="md-block">
        <label>Mash Notes</label>
        <textarea ng-model="rc.mashNotes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
      </md-input-container>
    </div>

  </div> <!-- End lower half -->
</div> <!-- End of container -->
