<div ng-include="'views/partials/nav.html'"></div>

<div class="container" ng-init="bc.recipeService.loadRecipe()">
  <div class="recipeHalf" layout="row">

    <!-- LEFT SIDE: RECIPE SUMMARY -->
    <div class="leftSide" layout="column" layout-padding flex="40">
      <div layout="row" flex="none">
        <h2>Brew Br&uuml; - {{bc.recipe.data.recipeName}}</h2>
      </div>
      <div layout="row" flex="nogrow">
        <div layout="column" flex="50">
          <p class="tableHeader">Beer Style:</p>
          <p class="tableData">{{bc.recipe.data.beerStyle.beerCategory}}</p>
          <p class="tableData">{{bc.recipe.data.beerStyle.styleName}}</p>
        </div>
        <div layout="column" flex="50">
          <table>
            <tr>
              <td class="tableHeader">Recipe Type:</td>
            </tr>
            <tr>
              <td class="tableData">{{bc.recipe.data.recipeType}}</td>
            </tr>
            <tr>
              <td class="tableHeader">Boil Length:</td>
            </tr>
            <tr>
              <td class="tableData">{{bc.recipe.data.boilLength}} min.</td>
            </tr>
            <tr>
              <td class="tableHeader">Mash Length:</td>
            </tr>
            <tr>
              <td class="tableData">{{bc.recipe.data.mashLength}} min.</td>
            </tr>
            <tr>
              <td class="tableHeader">Mash Temp:</td>
            </tr>
            <tr>
              <td class="tableData">{{bc.recipe.data.mashTemp}} deg. F</td>
            </tr>
          </table>
      </div>
    </div>
      <div layout="row" flex="none">
        <h3>Procedure: </h3>
        <p>{{bc.recipe.data.procedure}}</p>
      </div>
    </div>


    <!-- RIGHT SIDE: INGREDIENT SUMMARY -->
    <div class="rightSide" layout="column" layout-padding flex>
      <div layout="row">
        <div layout="column" layout-align="end start" flex="33">
          <h3>Ingredients:</h3>
        </div>
        <div layout="column" flex="33">
          <md-input-container>
            <label>Brew Date</label>
            <input type="date" ng-model="bc.brewDate">
          </md-input-container>
        </div>

        <div layout="column" layout-align="center end" flex="33">
          <md-button class="md-raised md-primary" ng-click="bc.saveBatch(bc.brewDate, bc.brewNotes, bc.mashNotes, $event)">Save Brew Notes</md-button>
        </div>
      </div>
      <fieldset>
        <div layout="row">
          <table id="ingredientTable">
            <tr>
              <th>Ingredient</th>
              <th></th>
              <th>Amount</th>
              <th>Timing</th>
              <th>Notes</th>
              <th>Added?</th>
            </tr>
            <tr ng-repeat="malt in bc.recipe.data.malts">
              <td>{{malt.maltType}}</td>
              <td>{{malt.maltName}}</td>
              <td>{{malt.maltAmtLbs}} lbs.</td>
              <td>{{malt.maltAmtOz}} oz.</td>
              <td></td>
              <td><md-checkbox></md-checkbox></td>
            </tr>
            <tr ng-repeat="hop in bc.recipe.data.hops">
              <td>{{hop.hopType}}</td>
              <td>{{hop.hopName}}</td>
              <td>{{hop.hopAmt}} oz.</td>
              <td>at {{hop.hopTimeBrew}} min.</td>
              <td>at {{hop.hopTimeDry}} min.</td>
              <td><md-checkbox></md-checkbox></td>
            </tr>
            <tr ng-repeat="yeast in bc.recipe.data.yeasts">
              <td>Yeast: {{yeast.yeastSupplier}}</td>
              <td>{{yeast.yeastType}}</td>
              <td></td>
              <td>Rehydrate: {{yeast.rehydrate}}</td>
              <td></td>
              <td><md-checkbox></md-checkbox></td>
            </tr>
            <tr ng-repeat="ingredient in bc.recipe.data.otherIngredients">
              <td>{{ingredient.ingredientType}}</td>
              <td></td>
              <td>{{ingredient.ingredientAmt}}</td>
              <td></td>
              <td>{{ingredient.ingredientNotes}}</td>
              <td><md-checkbox></md-checkbox></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <!-- BOTTOM ROW: RECIPE & BREWING NOTES -->
    <div class="bottomRow" layout="row">
      <div layout="column" flex="33">
        <div id="recipeNotesText">
          <h3>Recipe Notes: </h3>
          <p>{{bc.recipe.data.recipeNotes}}</p>
        </div>
      </div>
      <div layout="column" flex="33">
        <md-input-container class="md-block">
          <label>Brewing Notes</label>
          <textarea ng-model="bc.brewNotes" md-maxlength="500" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </div>
      <div layout="column" flex="33">
        <md-input-container class="md-block">
          <label>Mash Notes and Temperatures</label>
          <textarea ng-model="bc.mashNotes" md-maxlength="500" rows="5" md-select-on-focus></textarea>
        </md-input-container>
      </div>
    </div>
  </fieldset>
</div>
