<div ng-include="'views/partials/nav.html'"></div>

<div class="container" layout="row" ng-init="dc.recipeService.loadRecipe()">
  <section class="leftSide" layout="column" flex="40">
    <div layout="row" flex="none">
      <h2>Drink Br&uuml;</h2>
    </div>
    <!-- RECIPE SUMMARY -->
    <div layout="row" flex="nogrow">
      <div layout="column" flex="50">
        <md-list>
          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Recipe Name:</h3>
              <p>{{dc.recipe.data.recipeName}}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Beer Style:</h3>
              <p>{{dc.recipe.data.beerStyle.beerCategory}}</p>
              <p>{{dc.recipe.data.beerStyle.styleName}}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Recipe Type:</h3>
              <p>{{dc.recipe.data.recipeType}}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Original Gravity:</h3>
              <p>{{dc.recipe.data.originalGravity}}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Final Gravity:</h3>
              <p>{{dc.recipe.data.finalGravity}}</p>
            </div>
          </md-list-item>

          <md-list-item class="md-2-line">
            <div class="md-list-item-text">
              <h3>Bottle Conditioning:</h3>
              <p>2 weeks</p>
            </div>
          </md-list-item>
        </md-list>
      </div>
      <div layout="column" flex>
        <h3>Recipe Description: </h3>
        <p id="recipeDescriptionEval"> {{dc.recipe.data.recipeDescription}}</p>
      </div>
    </div>

    <div class="addPhoto" layout="row">
      <div layout="column" flex="40">
        <img ng-src="../../assets/img/addImage.png" alt="Add image graphic">
      </div>
      <div layout="column" flex>
        <md-button class="md-raised" href="#/summary">Review Recipe</md-button>
        <md-button class="md-raised" href="#/summary">Review Brew Notes</md-button>
        <md-button class="md-raised" ng-disabled="true">Review Bottling Notes</md-button>
      </div>

    </div>
  </section>
  <!-- RIGHT SIDE: VERDICT AND NOTES -->
  <section class="rightSide" layout="column" flex="60">

    <!-- TOP BAR WITH DATE AND SAVE BUTTON -->
    <div class="topBar" layout="row" flex="none">
      <div layout="column" layout-align="end start" flex="33">
        <h3>Evaluate your Beer:</h3>
      </div>
      <div layout="column" flex="33">
        <md-input-container>
          <label>Drink Date</label>
          <input type="date" ng-model="dc.drinkDate">
        </md-input-container>
      </div>
      <div layout="column" layout-align="center end" flex="33">
        <md-button class="md-raised md-primary" ng-click="dc.saveFinalProduct(dc.drinkDate, dc.batchRank,
        dc.worthRepeating, dc.batchImpressions, dc.batchChanges, dc.aroma, dc.appearance, dc.flavor,
        dc.mouthfeel, dc.batchNotes, dc.suspectedCauses, $event)">Save Final Product Notes</md-button>
      </div>
    </div>

    <!-- MIDDLE ROW WITH VERDICT RADIO BUTTONS AND NOTES -->
    <div id="verdict" layout="row" flex>
      <fieldset>
        <div class="vote" layout="column" flex="50">
          <div class="">
            <!-- Rank beer radio buttons -->
            <form class="rankBeer">
              <p>Rank your Final Br&uuml;: </p>

              <md-radio-group ng-model="dc.batchRank">

                <md-radio-button value="5" class="md-primary" ng-click="dc.toggleNotes(true)">Outstanding</md-radio-button>
                <md-radio-button value="4" class="md-primary" ng-click="dc.toggleNotes(true)">Exceeds Expectations</md-radio-button>
                <md-radio-button value="3" class="md-primary" ng-click="dc.toggleNotes(true)">Acceptible</md-radio-button>
                <md-radio-button value="2" ng-click="dc.toggleNotes(false)">Poor</md-radio-button>
                <md-radio-button value="1" ng-click="dc.toggleNotes(false)">Dreadful</md-radio-button>

              </md-radio-group>
            </form>
          </div>
          <div>

          </div>

        </div>
      </fieldset>
      <!-- ADD ADDITIONAL NOTES ON IMPRESSION OF BATCH AND WHAT YOU'D CHANGE -->
      <fieldset>
        <div layout="column" flex>
          <div class="verdictNotes" layout="row" flex="none">
            <!-- Worth repeating recipe radio buttons -->
            <label>Is this recipe worth repeating? </label>
            <md-radio-group ng-model="dc.worthRepeating" layout="row">
              <md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
              <md-radio-button value="No" class="md-primary"> No </md-radio-button>
              <md-radio-button value="Maybe" class="md-primary">Maybe, with changes</md-radio-button>
            </md-radio-group>
          </div>
          <div layout="row">
            <div layout="column">
              <!-- OVERALL IMPRESSION TEXT INPUT -->
              <md-input-container class="md-block">
                <label>Overall Impresisons</label>
                <textarea ng-model="dc.batchImpressions" md-maxlength="150" rows="5" md-select-on-focus></textarea>
              </md-input-container>
            </div>
            <div layout="column">
              <md-input-container class="md-block">
                <label>What would you change next time?</label>
                <textarea ng-model="dc.batchChanges" md-maxlength="150" rows="5" md-select-on-focus></textarea>
              </md-input-container>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- BOTTOM ROW WITH VARIABLE NOTES SPACE -->
      <div>
        <div ng-include=dc.view></div>
      </div>
    </section>

  </div> <!-- end of container -->
