<div ng-include="'views/partials/nav.html'"></div>

<div class="container">
  <!-- LEFT SIDE: RECIPE SUMMARY -->
  <div layout="column" flex="40">
    <div layout="row" flex>
      <h2>Drink Br&uuml;</h2>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <h3>Recipe Name:</h3>
          <p>Chocolate Oatmeal Stout</p>
        </div>
      </md-list-item>
    </div>
    <div layout="row" flex>


        <md-content>

            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <h3>Beer Style:</h3>
                <p>Stout, Oatmeal</p>
              </div>
            </md-list-item>

            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <h3>Recipe Type:</h3>
                <p>All-grain</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <h3>Primary Fermentation:</h3>
                <p>2 weeks</p>
              </div>
            </md-list-item>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <h3>Secondary Fermentation:</h3>
                <p>18 days</p>
              </div>
            </md-list-item>
            <!-- LEFT SIDE: RECIPE DESCRIPTION -->
            <h3>Recipe Description: </h3>
            <textarea ng-model="rc.description" rows="5" cols="30"></textarea>
        </md-content>

    </div>
    <!-- LEFT SIDE: ADD IMAGE & VIEW PREVIOUS NOTES -->
    <div layout="row" flex>
      <div layout="column" flex="60">
        <h3>Add image</h3>
      </div>
      <div layout="column" flex="40">
        <md-button>Review Recipe</md-button>
        <md-button>Review Brew Notes</md-button>
        <md-button ng-disabled="true">Review Bottling Notes</md-button>
      </div>
    </div>
    <div layout="row" layout-align="center center" flex>
      <img src="../../assets/img/drinkingGuy.jpg" width="300px" height="300px" alt="">
    </div>
  </div> <!-- end of left side -->

  <!-- RIGHT SIDE: BREW EVALUATION -->
  <div layout="column" flex="60">
  <!-- ADD DRINK DATE AND SAVE BEER NOTES -->
    <div layout="row">
      <div layout="column" layout-align="end start" flex="33">
        <h3>Evaluate your Beer:</h3>
      </div>
      <div layout="column" flex="33">
        <md-input-container>
          <label>Drink Date</label>
          <input type="date" ng-model="re.drinkDate">
        </md-input-container>
      </div>
      <div layout="column" layout-align="center end"flex="33">
        <md-button class="md-raised md-primary">Save Final Product Notes</md-button>
      </div>
    <!-- Radio Button eval menu and notes boxes -->
    </div>
    <div layout="row">
      <div layout="column" flex="40">
          <fieldset class="rating">
            <legend>Rank your Br&uuml;</legend>
            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">Outstanding</md-checkbox>
            <md-checkbox ng-model="data.cb2" aria-label="Checkbox 2">Exceeds Expectations</md-checkbox>
            <md-checkbox ng-model="data.cb3" aria-label="Checkbox 3">Acceptible</md-checkbox>
            <md-checkbox ng-model="data.cb4" aria-label="Checkbox 4">Poor</md-checkbox>
            <md-checkbox ng-model="data.cb5" aria-label="Checkbox 5">Dreadful</md-checkbox>
          </fieldset>
      </div>
      <div layout="column" flex="60">
        <div layout="row">
          <md-input-container class="md-block">
            <label>Is the Br&uuml; worth repeating? Why or why not?</label>
            <textarea ng-model="rc.worthRepeating" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container class="md-block">
            <label>What would you change next time?</label>
            <textarea ng-model="rc.batchChanges" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </div>
      </div>
    </div>

    <!-- Link to partial HTML depending on if a good beer or bad beer -->
    <div layout="row" flex>
      <div layout="column" flex>
        <!-- <div ng-include="'views/partials/goodBeer.html'"></div> -->
      </div>
    </div>

  </div> <!-- end of right side -->

</div> <!-- end of container -->
