<div ng-include="'views/partials/nav.html'"></div>

<div class="container" layout="row" flex>
  <div class="leftSide" layout="column" flex="40">
    <fieldset><md-content>
      <!-- RECIPE HEADER: NAME, STYLE, BATCH TYPE & YIELD -->
      <div class="recipeHeader" layout="column" flex>

        <div layout="row" flex>
          <h2>Prepare Recipe:</h2>
          &nbsp
          <md-input-container>
            <label>Recipe Name</label>
            <input ng-model="rc.recipeName">
          </md-input-container>
        </div>

        <div layout="row" flex>
          <md-input-container>
            <label>Beer Style</label>
            <input ng-model="rc.beerStyle">
          </md-input-container>

          <md-input-container>
            <label>Recipe Type:</label>
            <input type="text" ng-model="rc.recipeType" />
          </md-input-container>

          <md-input-container>
            <label>Batch Size (in gallons):</label>
            <input type="text" placeholder="Enter number of gallons" ng-model="rc.batchSize" />
          </md-input-container>

        </div>
      </div> <!-- End Recipe header -->

      <!-- FERMENTATION DETAILS & RECIPE DESCRIPTION -->
      <div layout="row" flex>
        <div class="fermentationBlock" layout="column" flex="50">
          <md-input-container>
            <label>Primary Fermentation:</label>
            <input type="text" placeholder="Enter length in days" ng-model="rc.primaryFermentLength" />
          </md-input-container>

          <md-input-container>
            <label>Secondary Fermentation:</label>
            <input type="text" placeholder="Enter length in days" ng-model="rc.secondFermentLength" />
          </md-input-container>
        </div>

        <div class="descriptionBlock" layout="column" flex>
          <md-input-container class="md-block">
            <label>Recipe Description</label>
            <textarea ng-model="rc.recipeDescription" md-maxlength="250" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </div>
      </div>

      <!-- RECIPE PROCEDURE & ADDITIONAL NOTES -->
      <div layout="row" flex>
        <div class="recipeText" layout="column" flex="50">
          <md-input-container class="md-block">
            <label>Procedure</label>
            <textarea ng-model="rc.procedure" md-maxlength="500" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </div>

        <div class="recipeText" layout="column" flex>
          <md-input-container class="md-block">
            <label>Additional Notes</label>
            <textarea ng-model="rc.recipeNotes" md-maxlength="150" rows="5" md-select-on-focus></textarea>
          </md-input-container>
        </div>
      </div>
      <!-- RECIPE SOURCE -->
      <div layout="row">
        <md-input-container class="md-block">
          <label>Recipe Source:</label>
          <input type="text" ng-model="rc.recipeSrc" />
        </md-input-container>
      </div>
    </md-content></fieldset>
    <div layout="row" layout-align="center start">
      <img ng-src="../../assets/img/instructionGuy.png" width="350px" height="300px" alt="">
    </div>
  </div> <!-- End of Left side -->

  <!-- RIGHT SIDE: INGREDIENTS -->
  <div class="rightSide" layout="column" flex>
    <div layout="row">
      <div layout="column" layout-align="center start" flex="50">
        <h2>Add Ingredients:</h2>
      </div>
      <div layout="column" layout-align="center end" flex="50">
        <md-button class="md-raised md-primary">Save Recipe</md-button>
      </div>
    </div>

    <fieldset>
      <!-- MALTS -->
      <div class="maltBlock" layout="row" flex>
        <!--IMAGE-->
        <div layout="column" layout-align="start center" flex="20">
          <img class="ingredientIcon" ng-src="../../assets/img/grainIcon.jpg" alt="">
        </div>
        <!--MALT INPUTS-->
        <div layout="column" flex="40">
          <md-content>
            <div layout="row" layout-align="start start" flex>
              <md-input-container style="margin-right: 10px;">
                <label>Malt Type</label>
                <md-select ng-model="rc.maltType">
                    <md-option ng-repeat="maltType in rc.ingredients.maltTypes" value="{{maltType}}">{{maltType}}</md-option>
                </md-select>
              </md-input-container>
              <md-input-container>
                <label>Malt Name:</label>
                <input type="text" ng-model="rc.maltName" />
              </md-input-container>
            </div>
            <div layout="row" layout-align="start start" flex>
              <md-input-container>
                <label>Malt Amount:</label>
                <input type="text" placeholder="Enter in pounds" ng-model="rc.maltAmt" />
              </md-input-container>

              <md-button class="md-primary" ng-click="rc.addMalt(rc.maltType, rc.maltName, rc.maltAmt)">Add Malt</md-button>

            </div>
          </md-content>
        </div>
        <!--MALTS - LIST OF ADDITIONS -->
        <div layout="column" flex="40">
          <table>
            <tr>
              <th>Type</th>
              <th>Amount</th>
              <th>Name</th>
            </tr>
            <tr ng-repeat="malt in rc.malts">
              <td>{{malt.maltType}}</td>
              <td>{{malt.maltAmt}}</td>
              <td>{{malt.maltName}}</td>
            </tr>
          </table>
        </div>
      </div> <!-- END OF MALT BLOCK -->

      <!-- HOPS -->
      <div class="hopBlock" layout="row" flex>
        <!--IMAGE-->
        <div layout="column" layout-align="center center" flex="20">
          <img class="ingredientIcon" ng-src="../../assets/img/hopIcon.jpg" alt="">
        </div>
        <!--HOP INPUTS-->
        <div layout="column" layout-align="start start" flex="40">
          <md-content>
            <div layout="row" flex>
              <md-input-container>
                <label>Hop Type:</label>
                <input type="text" ng-model="rc.hopType" />
              </md-input-container>

              <md-input-container>
                <label>Hop Amount:</label>
                <input type="text" placeholder="Enter in ounces" ng-model="rc.hopAmt" />
              </md-input-container>
            </div>
            <div layout="row" flex>
              <md-input-container>
                <label>Hop Timing:</label>
                <input type="text" placeholder="Min. from start of boil" ng-model="rc.hopTime" />
              </md-input-container>

              <md-button class="md-primary">Add Hops</md-button>
            </div>
          </md-content>
        </div>
        <!--HOPS - LIST OF ADDITIONS -->
        <div layout="column" flex="40">
          <table>
            <tr>
              <th>Amount</th>
              <th>Type</th>
              <th>Timing</th>
            </tr>
            <tr>
              <td>1 oz</td>
              <td>Kenneth Golding pellet</td>
              <td>at 0 min</td>
            </tr>
            <tr>
              <td>0.1 oz</td>
              <td>Northern Brewer pellet</td>
              <td>at 0 min</td>
            </tr>
            <tr>
              <td>1 oz</td>
              <td>Kenneth Golding pellet</td>
              <td>at 50 min</td>
            </tr>
          </table>
        </div>
      </div> <!-- END OF HOP BLOCK -->

      <!-- YEAST -->
      <div class="yeastBlock" layout="row" flex>
        <!--IMAGE-->
        <div layout="column" layout-align="start center" flex="20">
          <img class="ingredientIcon" ng-src="../../assets/img/yeastIcon.jpg" alt="">
        </div>
        <!--YEAST INPUTS-->
        <div layout="column" layout-align="start start" flex="40">
          <md-content>
            <div layout="row" flex>
              <md-input-container style="margin-right: 10px;">
                <label>Yeast Supplier</label>
                <md-select ng-model="yeastSupplier">
                    <md-option ng-repeat="yeastSupplier in rc.ingredients.yeastSuppliers" value="{{yeastSupplier}}">{{yeastSupplier}}</md-option>
                </md-select>
              </md-input-container>

              <md-input-container>
                <label>Yeast Type:</label>
                <input type="search" ng-model="rc.yeastType" />
              </md-input-container>
            </div>
            <div layout="row" flex>
              <md-input-container>
                <label>Rehydrate?</label>
                <input type="text" placeholder="Yes or No" ng-model="rc.rehydrate" />
              </md-input-container>
              <md-button class="md-primary">Add Yeast</md-button>
            </div>
          </md-content>
        </div>
        <!--YEAST - LIST OF ADDITIONS -->
        <div layout="column" flex="40">
          <table>
            <tr>
              <th>Supplier</th>
              <th>Type</th>
              <th>Rehydrate?</th>
            </tr>
            <tr>
              <td>Wyeast</td>
              <td>1084 Irish Ale yeast</td>
              <td>No</td>
            </tr>
          </table>
        </div>
      </div> <!-- END OF YEAST BLOCK -->

      <!-- OTHER ADDITIONS -->
      <div id="otherIngredientsBlock" layout="row" flex>
        <!--IMAGE-->
        <div layout="column" layout-align="center center" flex="20">
          <i class="fa fa-5x fa-puzzle-piece" aria-hidden="true"></i>
        </div>
        <!--OTHER ADDITIONS INPUTS-->
        <div layout="column" layout-align="start start" flex="40">
          <md-content>
            <div layout="row" flex>
              <md-input-container>
                <label>Other Ingredient Type:</label>
                <input type="text" ng-model="rc.ingredientType" />
              </md-input-container>

              <md-input-container>
                <label>Ingredient Amount:</label>
                <input type="text" ng-model="rc.ingredientAmt" />
              </md-input-container>
            </div>
            <div layout="row" flex>
              <md-input-container>
                <label>Addition Notes:</label>
                <input type="text" ng-model="rc.ingredientNotes" />
              </md-input-container>

              <md-button class="md-primary">Add Ingredient</md-button>
            </div>
          </md-content>
        </div>
        <!--Other Additions - LIST OF ADDITIONS -->
        <div layout="column" flex="40">
          <table>
            <tr>
              <th>Amount</th>
              <th>Type</th>
              <th>Notes</th>
            </tr>
            <tr>
              <td>1 tbsp</td>
              <td>Irish Moss</td>
              <td>Add during last 5 min of boil</td>
            </tr>
          </table>
        </div>
      </div> <!-- END OF Addtions BLOCK -->
    </fieldset>
  </div> <!-- End of right side -->

</div> <!-- End of container -->
