<div ng-include="'views/partials/nav.html'"></div>
<div class="container" ng-cloak flex>
  <!-- RECIPE HEADER ROW -->
  <div layout="row" flex>
    <div layout="column" layout-align="center start" flex="50">
      <h1>Enter Recipe details:</h1>
    </div>
    <div layout="column" layout-align="center end" flex="50">
      <md-button class="md-raised md-primary" ng-click="rc.saveRecipe(rc.recipeName, rc.beerCategory, rc.beerStyle, rc.recipeType, rc.procedure,
      rc.batchSize, rc.boilLength, rc.mashLength, rc.mashTemp, rc.originalGravity, rc.finalGravity, rc.recipeDescription,
      rc.recipeNotes, rc.recipeSrc, $event)">Save Recipe</md-button>
    </div>
  </div>

  <!-- TABS TO ENTER RECIPE DETAILS AND INGREDIENTS -->
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>

      <md-tab label="Add Recipe Details">
        <md-content class="md-padding">
          <div ng-include="'views/partials/recipeDetails.html'"></div>
        </md-content>
      </md-tab>

      <md-tab label="Add Malts">
        <md-content class="md-padding">
          <div ng-include="'views/partials/malts.html'"></div>
        </md-content>
      </md-tab>

      <md-tab label="Add Hops">
        <md-content class="md-padding">
          <div ng-include="'views/partials/hops.html'"></div>
        </md-content>
      </md-tab>

      <md-tab label="Add Yeast and Other Ingredients">
        <md-content class="md-padding">
          <div ng-include="'views/partials/yeastOther.html'"></div>
        </md-content>
      </md-tab>

    </md-tabs>
  </md-content>

</div> <!-- End of container -->
