<div class="container">
  <div layout="row" flex>
    <div layout="column" flex=33></div>
    <div class="login" layout="column" flex=33>
      <h1 class="lead">Register User</h1>
      <h1 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
      <form ng-submit="lc.registerUser()">
        <div>
            <label for="username">Username:</label>
            <input type="text" ng-model="lc.user.username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" ng-model="lc.user.password" />
        </div>
        <input class="btn btn-default" type="submit" name="submit" value="Register" />
        <a href="#home">Cancel</a>
      </form>
    </div>
    <div layout="column" flex=33></div>
  </div>
  <div layout="row" flex>
    <div layout="column"><img id="registerImage" ng-src="../../assets/img/instructionGuy_lg.jpg" alt="Instructions for beer: water, grain, hops, yeast"></div>
  </div>
</div>
