<div ng-include="'views/partials/nav.html'"></div>
<!-- TABLE SUMMARY OF ALL RECIPE DATA (RECIPE, BREW NOTES, FINAL BREW NOTES)-->
<!-- Table will be editable using Update buttons and Xeditable -->
<div id="summary" class="container" layout="column">
  <div class="title">
    <h1>Summary of Recipes</h1>
  </div>
  <div class="singleRecipe" layout="row" flex>

    <div class="recipeDetails" layout="column" flex="40">
      <div class="recipeContainer">
        <form class="recipeForm">

          <!-- RECIPE TABLE -->
          <table class="recipeTable">
            <thead>
              <tr>
                <td><h2>Recipe Details</h2></td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Recipe Name</td>
                <td>Beer Style</td>
                <td>Recipe Type</td>
              </tr>
              <tr>
                <td>Recipe description</td>
              </tr>
              <tr>
                <td>Batch Size</td>
                <td>Recipe Source</td>
              </tr>
              <tr>
                <td>Boil Length</td>
                <td>Mash Length</td>
                <td>Mash Temperature</td>
              </tr>
              <tr>
                <td>Original Gravity</td>
                <td>Final Gravity</td>
              </tr>
              <tr>
                <td>Procedure</td>
              </tr>
              <tr>
                <td>Recipe Notes</td>
              </tr>
            </tbody>
          </table>

        </form>
      </div>
      <div class="recipeControls">
        <button class="update">Update</button>
      </div>

    </div><!-- end of recipe details -->

    <div class="brewDetails" layout="column" flex="20">
      <div class="brewContainer">
        <form class="brewForm">

          <!-- BREWED BATCH TABLE -->
          <table class="brewTable table table-bordered">
            <thead>
              <tr>
                <td>Header Row</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Brew Date</td>
              </tr>
            </tbody>
          </table>

        </form>
      </div>
      <div class="brewControls">
        <button class="update">Update</button>
      </div>
    </div><!-- end of brew details -->

      <div class="drinkDetails" layout="column" flex="40">
        <div class="drinkContainer">
          <form class="drinkForm">
            <!-- DRINK BREW TABLE -->
            <table class="drinkTable table table-bordered">
              <thead>
                <tr>
                  <td>Header Row</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Drink Date</td>
                </tr>
              </tbody>
            </table>

          </form>
        </div>
      <div class="drinkControls">
        <button class="update">Update</button>
      </div>
    </div><!-- end of drink details -->

  </div> <!-- End of single recipe -->





</div> <!-- End of container -->
