<div ng-include="'views/partials/nav.html'"></div>

<!-- TABLE SUMMARY OF ALL RECIPE DATA (RECIPE, BREW NOTES, FINAL BREW NOTES)-->
<!-- Table will be editable using Update buttons and Xeditable -->

<div class="title" layout="row" flex ng-init="sc.recipeService.loadRecipe()">
  <h1>Summary of Recipes</h1>
</div>

<div class="singleRecipe" layout="column" flex ng-repeat="recipe in sc.allRecipes.data">

  <!-- HEADER ROW FOR A RECIPE -->
    <div class="subtitle" layout="row" flex>
      <div layout="column" flex="50">
        <h2>Recipe Name: <em>{{recipe.recipeName}}</em></h2>
      </div>
    </div>
  <!-- RECIPE DETAILS - FIRST ROW -->
  <div class="recipeBox" layout="row" flex>

    <!-- LEFT COLUMN OF FIRST ROW: RECIPE DETAILS -->
    <div class="recipeDetails" layout="column" flex="20">
      <form editable-form name="recipeForm">
        <table>
          <tr>
            <td><h3>Recipe Specifics</h3></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <p class="label">Beer Style:</p>
              <p class="data" editable-text="recipe.beerStyle" e-form="recipeForm">{{recipe.beerStyle}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Recipe Type:</p>
              <p class="data" editable-text="recipe.recipeType" e-form="recipeForm">{{recipe.recipeType}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Batch Size:</p>
              <p class="data" editable-text="recipe.batchSize" e-form="recipeForm">{{recipe.batchSize}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Boil Length:</p>
              <p class="data" editable-text="recipe.boilLength" e-form="recipeForm">{{recipe.boilLength}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Mash Length:</p>
              <p class="data" editable-text="recipe.mashLength" e-form="recipeForm">{{recipe.mashLength}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Mash Temperature:</p>
              <p class="data" editable-text="recipe.mashTemp" e-form="recipeForm">{{recipe.mashTemp}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Original Gravity:</p>
              <p class="data" editable-text="recipe.originalGravity" e-form="recipeForm">{{recipe.originalGravity}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Final Gravity:</p>
              <p class="data" editable-text="recipe.finalGravity" e-form="recipeForm">{{recipe.finalGravity}}</p>
            </td>
          </tr>
        </table>
      </form>
      <!-- BUTTONS TO EDIT RECIPE DETAILS -->
      <button class="updateBtn" ng-show"recipeForm.$visible" ng-click="recipeForm.$show()">Update Recipe Details</button>
      <form editable-form name="btnform" onaftersave="saveColumn()" ng-show="!btnform.$visible">
        <div class="btn-form" ng-show="recipeForm.$visible">
          <button type="button" ng-disabled="recipeForm.$waiting" ng-click="recipeForm.$cancel()">Cancel</button>
          <button type="button" ng-disabled="recipeForm.$waiting" ng-click="recipeForm.update()" >Save</button>
        </div>
      </form> <!-- END OF BUTTON FORM -->
    </div> <!-- End of left column, first row -->

    <!-- RIGHT COLUMN OF FIRST ROW: RECIPE NOTES & INGREDIENTS -->
    <div class="notesIngredientsBox" layout="column" flex>

      <!-- RECIPE DESCRIPTION, NOTES, PROCEDURE, SRC -->
      <div layout="row" flex>
        <form editable-form name="recipeNotesForm">
          <table>
            <tr>
              <td>
                <p class="label">Recipe Description:</p>
                <p class="data" editable-textarea="recipe.recipeDescription" e-rows="5" e-cols="45" e-form="recipeNotesForm">{{recipe.recipeDescription}}</p>
              </td>
              <td>
                <p class="label">Procedure:</p>
                <p class="data" editable-textarea="recipe.procedure" e-rows="5" e-cols="45" e-form="recipeNotesForm">{{recipe.procedure}}</p>
              </td>
              </tr>
              <tr>
              <td>
                <p class="label">Recipe Notes:</p>
                <p class="data" editable-textarea="recipe.recipeNotes" e-rows="5" e-cols="45" e-form="recipeNotesForm">{{recipe.recipeNotes}}</p>
              </td>
              <td>
                <p class="label">Recipe Source:</p>
                <p class="data" editable-textarea="recipe.recipeSrc" e-rows="3" e-cols="45" e-form="recipeNotesForm">{{recipe.recipeSrc}}</p>
              </td>
            </tr>
          </table>
        </form>
          <!-- BUTTONS TO EDIT RECIPE NOTES -->
          <button class="updateBtn" ng-show"recipeNotesForm.$visible" ng-click="recipeNotesForm.$show()">Update Recipe Notes</button>
          <form editable-form name="btnform" onaftersave="saveColumn()" ng-show="!btnform.$visible">
            <div class="btn-form" ng-show="recipeForm.$visible">
              <button type="button" ng-disabled="recipeNotesForm.$waiting" ng-click="recipeNotesForm.$cancel()">Cancel</button>
              <button type="button" ng-disabled="recipeNotesForm.$waiting" ng-click="recipeNotesForm.update()" >Save</button>
            </div>
          </form> <!-- END OF BUTTON FORM -->

      </div> <!-- End of first row in right column -->

    </div> <!-- End of right column-->
  </div> <!-- End of first row -->

  <!-- INGREDIENTS -->
  <div layout="row" flex>
    <form editable-form name="ingredientsForm">
      <table id="ingredientTable">
        <tr>
          <th>Ingredient</th>
          <th></th>
          <th>Amount</th>
          <th>Timing</th>
          <th>Notes</th>
        </tr>
        <tr ng-repeat="malt in recipe.malts">
          <td editable-text="malt.maltType" e-form="ingredientform">{{malt.maltType}}</td>
          <td editable-text="malt.maltName" e-form="ingredientform">{{malt.maltName}}</td>
          <td><span editable-text="malt.maltAmt" e-form="ingredientform">{{malt.maltAmt}}</span> lbs.</td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-repeat="hop in recipe.hops">
          <td editable-text="hop.hopName" e-form="ingredientform">{{hop.hopName}}</td>
          <td editable-text="hop.hopType" e-form="ingredientform">{{hop.hopType}}</td>
          <td editable-text="hop.hopAmt" e-form="ingredientform">{{hop.hopAmt}} oz.</td>
          <td>at <span editable-text="hop.hopTime" e-form="ingredientform">{{hop.hopTime}}</span> min.</td>
          <td></td>
        </tr>
        <tr ng-repeat="yeast in recipe.yeasts">
          <td>Yeast: <span editable-text="yeast.yeastSupplier" e-form="ingredientform">{{yeast.yeastSupplier}}</span></td>
          <td editable-text="yeast.yeastType" e-form="ingredientform">{{yeast.yeastType}}</td>
          <td></td>
          <td></td>
          <td editable-text="yeast.rehydrate" e-form="ingredientform">Rehydrate: <span>{{yeast.rehydrate}}</span></td>
        </tr>
        <tr ng-repeat="ingredient in recipe.otherIngredients">
          <td></td>
          <td editable-text="ingredient.ingredientType" e-form="ingredientform">{{ingredient.ingredientType}}</td>
          <td editable-text="ingredient.ingredientAmt" e-form="ingredientform">{{ingredient.ingredientAmt}}</td>
          <td></td>
          <td editable-text="ingredient.ingredientNotes" e-form="ingredientform">{{ingredient.ingredientNotes}}</td>
        </tr>
      </table>
    </form>
    <!-- BUTTONS TO EDIT INGREDIENTS -->
    <button class="updateBtn" ng-show"ingredientsForm.$visible" ng-click="ingredientsForm.$show()">Update Recipe Details</button>
    <form editable-form name="btnform" onaftersave="saveColumn()" ng-show="!btnform.$visible">
      <div class="btn-form" ng-show="ingredientsForm.$visible">
        <button type="button" ng-disabled="ingredientsForm.$waiting" ng-click="ingredientsForm.$cancel()">Cancel</button>
        <button type="button" ng-disabled="ingredientsForm.$waiting" ng-click="ingredientsForm.update()" >Save</button>
      </div>
    </form> <!-- END OF BUTTON FORM -->
  </div><!-- End of second row in right column -->

  <!-- BREW DETAILS PER BATCH - SECOND ROW -->
  <div class="brewBatchBox" layout="row" flex>
    <div class="singleBatch" layout="column" flex="50" ng-repeat="batch in sc.allRecipes.data.recipes.batches">
      <form editable-form name="brewForm">
        <table>
          <tr>
            <td><h3>Brew Day Notes</h3></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <p class="label">Brew Date:</p>
              <p class="data">{{recipe.batches.brewDate}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Brew Notes:</p>
              <p class="data">{{recipe.batches.brewNotes}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Mash Notes:</p>
              <p class="data">{{recipe.batches.mashNotes}}</p>
            </td>
          </tr>
        </table>
      </form>
    </div>
    <!-- BUTTONS TO EDIT BREWED BATCH NOTES -->
    <button class="updateBtn" ng-show"ingredientsForm.$visible" ng-click="ingredientsForm.$show()">Update Recipe Details</button>
    <form editable-form name="btnform" onaftersave="saveColumn()" ng-show="!btnform.$visible">
      <div class="btn-form" ng-show="ingredientsForm.$visible">
        <button type="button" ng-disabled="ingredientsForm.$waiting" ng-click="ingredientsForm.$cancel()">Cancel</button>
        <button type="button" ng-disabled="ingredientsForm.$waiting" ng-click="ingredientsForm.update()" >Save</button>
      </div>
    </form> <!-- END OF BUTTON FORM -->

  </div> <!-- End of brewed batches (second) row -->

  <!-- FINAL PRODUCT DETAILS PER BATCH - THIRD ROW -->
  <div class="drinkBatchBox" layout="row" flex>
    <div class="singleProdct" layout="column" flex="50" ng-repeat="finalBrew in sc.allRecipes.data.recipes.finalBrew">
      <form editable-form name="drinkForm">
        <table>
          <tr>
            <td><h3>Final Brew Notes</h3></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <p class="label">Drink Date:</p>
              <p class="data">{{recipe.finalBrew.drinkDate}}</p>
            </td>
            <td>
              <p class="label">Batch Rank ( 1 to 5):</p>
              <p class="data">{{recipe.finalBrew.batchRank}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Worth Repeating?</p>
              <p class="data">{{recipe.finalBrew.worthRepeating}}</p>
            </td>
            <td>
              <p class="label">Changes you'd make?</p>
              <p class="data">{{recipe.finalBrew.batchChanges}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Overall Impression:</p>
              <p class="data">{{recipe.finalBrew.batchImpressions}}</p>
            </td>
          </tr>
        </table>
        <button class="updateBtn">Update Final Batch Notes</button>
      </div>

      <!-- RIGHT COLUMN OF SECOND ROW: FINAL BATCH EVALUATION DETAILS INCLUDING OFF FLAVORS -->
      <div class="goodBadDetails" layout="column" flex="35">
        <table>
          <tr>
            <td><h3>Overall Evaluation</h3></td>
            <td></td>
          </tr>
          <tr>
            <td>
              <p class="label">Aroma:</p>
              <p class="data">{{recipe.finalBrew.aroma}}</p>
            </td>
            <td>
              <p class="label">Appearance:</p>
              <p class="data">{{recipe.finalBrew.appearance}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Flavor:</p>
              <p class="data">{{recipe.finalBrew.flavor}}</p>
            </td>
            <td>
              <p class="label">Moutfeel:</p>
              <p class="data">{{recipe.finalBrew.mouthfeel}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="label">Other Notes:</p>
              <p class="data">{{recipe.finalBrew.batchNote}}</p>
            </td>
            <td>
              <p class="label">Suspected Causes of Issues:</p>
              <p class="data">{{recipe.finalBrew.suspectedCauses}}</p>
            </td>
          </tr>
          <tr>
            <td>Off Flavors (if present, listed below)</td>
          </tr>
          <tr ng-repeat="offFlavors in recipe.offFlavors">
            <td>Off Flavor: {{offFlavors.offFlavorName}}</td>
            <td>Description: {{offFlavors.offFlavorDescription}}</td>
          </tr>
        </table>
      </form>
      <!-- BUTTONS TO FINAL PRODUCT NOTES -->
      <button class="updateBtn" ng-show"ingredientsForm.$visible" ng-click="ingredientsForm.$show()">Update Recipe Details</button>
      <form editable-form name="btnform" onaftersave="saveColumn()" ng-show="!btnform.$visible">
        <div class="btn-form" ng-show="ingredientsForm.$visible">
          <button type="button" ng-disabled="ingredientsForm.$waiting" ng-click="ingredientsForm.$cancel()">Cancel</button>
          <button type="button" ng-disabled="ingredientsForm.$waiting" ng-click="ingredientsForm.update()" >Save</button>
        </div>
      </form> <!-- END OF BUTTON FORM -->
    </div><!-- End of second row in right column -->

  </div> <!-- End of final product details (third) row -->

</div> <!-- End of single recipe -->
