<div ng-include="'views/partials/nav.html'"></div>

<!-- TABLE SUMMARY OF ALL RECIPE DATA (RECIPE, BREW NOTES, FINAL BREW NOTES)-->
<!-- Table will be editable using Update buttons and Xeditable -->

<div class="title" layout="row" flex ng-init="sc.recipeService.loadRecipe()">
  <h1>Summary of Recipes</h1>
</div>

<div id="summary" class="container" layout="column" flex>

  <!-- LAYOUT FOR A SINGLE RECIPE THAT IS REPEATED FOR EACH RECIPE IN DB -->
  <div class="singleRecipe" layout="row" flex ng-repeat="recipe in sc.allRecipes.data">
    <md-content>
    <!-- HEADER ROW FOR A RECIPE -->
      <div class="subtitle" layout="row" flex>
        <div layout="column" flex="50">
          <h2>Recipe Name: <em>{{recipe.recipeName}}</em></h2>
        </div>
        <div layout="column" flex>
          <div layout="row">
            <!-- BUTTONS TO EDIT RECIPE DETAILS -->
            <button class="updateBtn" ng-show"recipeform.$visible" ng-click="recipeform.$show()">Update Recipe Details</button>
            <form editable-form name="btnform" onaftersave="saveColumn()" ng-show="!btnform.$visible">
              <div class="btn-form" ng-show="recipeform.$visible">
                <button type="button" ng-disabled="recipeform.$waiting" ng-click="recipeform.$cancel()">Cancel</button>
                <button type="button" ng-disabled="recipeform.$waiting" ng-click="recipeform.update()" >Save</button>
              </div>
            </form> <!-- END OF BUTTON FORM -->
          </div>
          <div layout="row" flex>
            <!-- BUTTONS TO EDIT INGREDIENTS -->
            <button class="updateBtn" ng-show"ingredientform.$visible" ng-click="ingredientform.$show()">Update Ingredients</button>
            <form editable-form name="btnform" onaftersave="saveColumn()" ng-show="!btnform.$visible">
              <div class="btn-form" ng-show="ingredientform.$visible">
                <button type="button" ng-disabled="ingredientform.$waiting" ng-click="ingredientform.$cancel()">Cancel</button>
                <button type="button" ng-disabled="ingredientform.$waiting" ng-click="ingredientform.update()" >Save</button>
              </div>
            </form> <!-- END OF BUTTON FORM -->
          </div>
        </div>
      </div> <!-- end of header row -->

      <!-- FIRST ROW: RECIPE DETAILS -->
      <div class="recipeDetails" layout="row" flex>
        <form editable-form name="recipeform">

          <!-- LEFT COLUMN OF FIRST ROW: RECIPE DETAILS -->
          <div class="recipeSpecifics" layout="column" flex="20">
            <table>
              <tr>
                <td><h3>Recipe Specifics</h3></td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <p class="label">Beer Style:</p>
                  <p class="data" editable-text="recipe.beerStyle" e-form="recipeform">{{recipe.beerStyle}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="label">Recipe Type:</p>
                  <p class="data" editable-text="recipe.recipeType" e-form="recipeform">{{recipe.recipeType}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="label">Batch Size:</p>
                  <p class="data" editable-text="recipe.batchSize" e-form="recipeform">{{recipe.batchSize}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="label">Boil Length:</p>
                  <p class="data" editable-text="recipe.boilLength" e-form="recipeform">{{recipe.boilLength}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="label">Mash Length:</p>
                  <p class="data" editable-text="recipe.mashLength" e-form="recipeform">{{recipe.mashLength}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="label">Mash Temperature:</p>
                  <p class="data" editable-text="recipe.mashTemp" e-form="recipeform">{{recipe.mashTemp}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="label">Original Gravity:</p>
                  <p class="data" editable-text="recipe.originalGravity" e-form="recipeform">{{recipe.originalGravity}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="label">Final Gravity:</p>
                  <p class="data" editable-text="recipe.finalGravity" e-form="recipeform">{{recipe.finalGravity}}</p>
                </td>
              </tr>
            </table>
          </div> <!-- end of left column, first row -->

          <!-- RIGHT COLUMN -*- FIRST ROW: RECIPE DESCRIPTION AND NOTES -->
          <div class="descriptionsIngregients" layout="column" flex="50">
            <div class="recipeDescriptions" layout="row" flex>
              <table>
                <tr>
                  <td>
                    <p class="label">Recipe Description:</p>
                    <p class="data" editable-textarea="recipe.recipeDescription" e-rows="10" e-cols="5" e-form="recipeDescform">{{recipe.recipeDescription}}</p>
                  </td>
                  <td>
                    <p class="label">Procedure:</p>
                    <p class="data" editable-textarea="recipe.procedure" e-rows="10" e-cols="5" e-form="recipeDescform">{{recipe.procedure}}</p>
                  </td>
                  <td>
                    <p class="label">Recipe Notes:</p>
                    <p class="data" editable-textarea="recipe.recipeNotes" e-rows="10" e-cols="5" e-form="recipeDescform">{{recipe.recipeNotes}}</p>
                  </td>
                  <td>
                    <p class="label">Recipe Source:</p>
                    <p class="data" editable-textarea="recipe.recipeSrc" e-rows="3" e-cols="5" e-form="recipeDescform">{{recipe.recipeSrc}}</p>
                  </td>
                </tr>
              </table>
            </form>
          </div> <!-- End of right column, first row -->

          <!-- RIGHT COLUMN OF SECOND ROW: INGREDIENT DETAILS -->
          <div class="ingredientDetails" layout="row" flex>

              <form editable-form name="ingredientform">
                <table id="ingredientTable">
                  <tr>
                    <th>Ingredient</th>
                    <th></th>
                    <th>Amount</th>
                    <th>Timing</th>
                    <th>Notes</th>
                  </tr>
                  <tr ng-repeat="malt in recipe.malts">
                    <td editable-text="malt.maltType" e-form="ingredientform">{{malt.maltType}}</td>
                    <td editable-text="malt.maltName" e-form="ingredientform">{{malt.maltName}}</td>
                    <td><span editable-text="malt.maltAmt" e-form="ingredientform">{{malt.maltAmt}}</span> lbs.</td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr ng-repeat="hop in recipe.hops">
                    <td editable-text="hop.hopName" e-form="ingredientform">{{hop.hopName}}</td>
                    <td editable-text="hop.hopType" e-form="ingredientform">{{hop.hopType}}</td>
                    <td editable-text="hop.hopAmt" e-form="ingredientform">{{hop.hopAmt}} oz.</td>
                    <td>at <span editable-text="hop.hopTime" e-form="ingredientform">{{hop.hopTime}}</span> min.</td>
                    <td></td>
                  </tr>
                  <tr ng-repeat="yeast in recipe.yeasts">
                    <td>Yeast: <span editable-text="yeast.yeastSupplier" e-form="ingredientform">{{yeast.yeastSupplier}}</span></td>
                    <td editable-text="yeast.yeastType" e-form="ingredientform">{{yeast.yeastType}}</td>
                    <td></td>
                    <td></td>
                    <td editable-text="yeast.rehydrate" e-form="ingredientform">Rehydrate: <span>{{yeast.rehydrate}}</span></td>
                  </tr>
                  <tr ng-repeat="ingredient in recipe.otherIngredients">
                    <td></td>
                    <td editable-text="ingredient.ingredientType" e-form="ingredientform">{{ingredient.ingredientType}}</td>
                    <td editable-text="ingredient.ingredientAmt" e-form="ingredientform">{{ingredient.ingredientAmt}}</td>
                    <td></td>
                    <td editable-text="ingredient.ingredientNotes" e-form="ingredientform">{{ingredient.ingredientNotes}}</td>
                  </tr>
                </table>
              </form> <!-- END OF TABLE FORM -->

          </div> <!-- End of right column, second row -->
        </div> <!-- End of right column -->

      </div> <!-- END OF FIRST ROW -->

      <!-- SECOND ROW: BREWED BATCH & FINAL BEER DETAILS -->
      <div class="brewDrinkDetails" layout="row" flex>
        <!-- LEFT COLUMN OF SECOND ROW: BREW DAY DETAILS -->
        <div class="brewDetails" layout="column" flex="30">
          <table>
            <tr>
              <td><h3>Brew Day Notes</h3></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p class="label">Brew Date:</p>
                <p class="data">{{recipe.batches.brewDate}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="label">Brew Notes:</p>
                <p class="data">{{recipe.batches.brewNotes}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="label">Mash Notes:</p>
                <p class="data">{{recipe.batches.mashNotes}}</p>
              </td>
            </tr>
          </table>
          <button class="updateBtn">Update Brew Day Notes</button>
        </div>
        <!-- MIDDLE COLUMN OF SECOND ROW: FINAL BREW BASIC DETAILS (SAME GOOD OR BAD) -->
        <div class="drinkBasicDetails" layout="column" flex="35">
          <table>
            <tr>
              <td><h3>Final Brew Notes</h3></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p class="label">Drink Date:</p>
                <p class="data">{{recipe.finalBrew.drinkDate}}</p>
              </td>
              <td>
                <p class="label">Batch Rank ( 1 to 5):</p>
                <p class="data">{{recipe.finalBrew.batchRank}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="label">Worth Repeating?</p>
                <p class="data">{{recipe.finalBrew.worthRepeating}}</p>
              </td>
              <td>
                <p class="label">Changes you'd make?</p>
                <p class="data">{{recipe.finalBrew.batchChanges}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="label">Overall Impression:</p>
                <p class="data">{{recipe.finalBrew.batchImpressions}}</p>
              </td>
            </tr>
          </table>
          <button class="updateBtn">Update Final Batch Notes</button>
        </div>
        <!-- RIGHT COLUMN OF SECOND ROW: FINAL BATCH EVALUATION DETAILS INCLUDING OFF FLAVORS -->
        <div class="goodBadDetails" layout="column" flex="35">
          <table>
            <tr>
              <td><h3>Overall Evaluation</h3></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <p class="label">Aroma:</p>
                <p class="data">{{recipe.finalBrew.aroma}}</p>
              </td>
              <td>
                <p class="label">Appearance:</p>
                <p class="data">{{recipe.finalBrew.appearance}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="label">Flavor:</p>
                <p class="data">{{recipe.finalBrew.flavor}}</p>
              </td>
              <td>
                <p class="label">Moutfeel:</p>
                <p class="data">{{recipe.finalBrew.mouthfeel}}</p>
              </td>
            </tr>
            <tr>
              <td>
                <p class="label">Other Notes:</p>
                <p class="data">{{recipe.finalBrew.batchNote}}</p>
              </td>
              <td>
                <p class="label">Suspected Causes of Issues:</p>
                <p class="data">{{recipe.finalBrew.suspectedCauses}}</p>
              </td>
            </tr>
            <tr>
              <td>Off Flavors (if present, listed below)</td>
            </tr>
            <tr ng-repeat="offFlavors in recipe.offFlavors">
              <td>Off Flavor: {{offFlavors.offFlavorName}}</td>
              <td>Description: {{offFlavors.offFlavorDescription}}</td>
            </tr>
          </table>
          <button class="updateBtn">Update Final Batch Evaluation</button>
        </div>
      </div> <!-- end of second row -->
    </md-content>



  </div> <!-- End of single recipe -->
</div> <!-- End of body container -->
