<div ng-include="'views/partials/nav.html'"></div>
<div class="container" ng-init="uc.displayBrewStatus()" layout="row" flex>
  {{uc.batchesInProgress}}
  <div id="recipe_ls" layout="column" flex="60">
    <div layout="row">
      <div layout="column" flex>
        <!-- LEFT SIDE TOP: PREPARED RECIPES -->
        <div layout="row" flex>
          <div layout="column" flex="50">
            <h2>Prepared Br&uuml; Recipes</h2>
          </div>
          <div layout="column" flex="40">
             <!--** NEED BUTTON FUNCTION - CREATE NEW RECIPE **-->
            <md-button class="md-raised md-primary" ng-click="uc.newRecipe()">Prep New Recipe</md-button>
          </div>
        </div>
        <div>
          <table id="preparedRecipes">
            <thead>
              <th></th>
              <th>Recipe Name</th>
              <th>Beer Style</th>
              <th>Edit Recipe?</th>
              <th>Delete Recipe?</th>
              <th>Brew the Recipe?</th>
            </thead>
            <!--** LOAD RECIPES IN DB ONTO DOM **-->
            <tbody>
              <tr ng-repeat="recipe in uc.allRecipes.data">
                <td><i class="fa fa-beer"></i></td>
                <td>{{recipe.recipeName}}</td>
                <td>{{recipe.beerStyle}}</td>
                <td><md-button><i class="fa fa-2x fa-pencil-square-o"></i></md-button></td>
                <td><md-button class="md-warn" ng-click="uc.deleteSelectedRecipe(recipe.name, recipe._id, ev)"><i class="fa fa-2x fa-trash"></i></md-button></td>
                <td><md-button class="md-primary" ng-click="uc.brewBatch(recipe._id)">Brew!</md-button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- LEFT SIDE: BOTTOM STATUS OF BREWS -->
    <div layout="row">
      <div layout="column" flex>
        <div>
          <h2>St&aring;tus of your Br&uuml;s</h2>
        </div>
        <div>
          <table id="brewStatus">
            <thead>
              <th></th>
              <th>Recipe Name</th>
              <th>Brewing Stage</th>
              <th>Review Previous Stages?</th>
              <th>Delete?</th>
              <th>Bottle?</th>
              <th>Drink?</th>
            </thead>
            <!--** NEED FUNCTION - LOAD USER'S BATCHES IN DATABASE & DISPLAY BATCH STAGE **-->
            <!--** LOAD RECIPES IN DB ONTO DOM **-->
            <tbody>
              <tr ng-repeat="recipe in uc.allRecipes.data">
                <td><i class="fa fa-beer"></i></td>
                <td>{{recipe.recipeName}}</td>
                <td>{{recipe.batchStatus}}</td>
                <td><md-button><i class="fa fa-2x fa-eye"></i></md-button></td>
                <td><md-button class="md-warn" ng-click="uc.deleteSelectedRecipe(recipe.name, recipe._id, ev)"><i class="fa fa-2x fa-trash"></i></md-button></td>
                <td><md-button class="md-warn" ng-disabled="true">Bottle</md-button></td>
                <td><md-button class="md-primary" ng-click="uc.drinkBatch(recipe._id)">Prost!</md-button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- RIGHT SIDE: CALENDAR, SETTINGS & IMAGE [STRETCH GOALS] -->
  <div id="recipe_rs" layout="column" flex="30">
    <div layout="row" layout-align="center center">
      <img ng-src="../../assets/img/calendar.png" width="200px" height="200px" alt="calendar icon">
    </div>
    <div layout="row" layout-align="center center">
      <p><i class="fa fa-cog fa-2x"></i> User Settings</p>
    </div>
    <div layout="row" layout-align="center center">
      <img ng-src="../../assets/img/drinkingGuy.jpg" alt="Drinking guy icon" width="200" height="200">
    </div>
  </div>
</div>
