<div ng-include="'views/partials/nav.html'"></div>

<div class="container" layout="row" flex>
  <div id="recipe_ls" layout="column" flex="70">
    <div layout="row">
      <div layout="column" flex>
        <!-- LEFT SIDE TOP: PREPARED RECIPES -->
        <div layout="row" flex="none">
          <div layout="column" flex="50">
            <h2>Prepared Br&uuml; Recipes</h2>
          </div>
          <div layout="column" layout-align="center end" flex="40">
            <!-- BUTTON TO CREATE NEW RECIPE -->
            <md-button class="md-raised md-primary" ng-click="uc.newRecipe()">Prep New Recipe</md-button>
          </div>
        </div>
        <!-- LIST RECIPES ALREADY PREPARED. EDIT AND BREW FROM THIS LIST. -->
        <div layout="row" flex>
          <table id="preparedRecipesTable">
            <thead>
              <th></th>
              <th>Recipe Name</th>
              <th>Beer Style</th>
              <th>Edit Recipe?</th>
              <th>Delete Recipe?</th>
              <th>Brew Recipe?</th>
            </thead>
            <!--** LOAD RECIPES IN DB ONTO DOM **-->
            <tbody>
              <tr ng-repeat="recipe in uc.allRecipes.data">
                <td class="menuIcon"><i class="fa fa-beer"></i></td>
                <td class="menuRecipeName">{{recipe.recipeName}}</td>
                <td class="menuBeerStyle">{{recipe.beerStyle.styleName}}</td>
                <td class="menuEditBtn"><md-button ng-disabled="true"><i class="fa fa-2x fa-pencil-square-o"></i></md-button></td>
                <td class="menuDeleteBtn"><md-button class="md-warn" ng-click="uc.deleteSelectedRecipe(recipe.recipeName, recipe._id, $event)"><i class="fa fa-2x fa-trash"></i></md-button></td>
                <td class="menuBrewBtn"><md-button class="md-primary" ng-click="uc.brewBatch(recipe._id)">Brew!</md-button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- LEFT SIDE: BOTTOM STATUS OF BREWS -->
    <!--** NEED TO SORT THIS LIST TO SHOW BATCHES IN PROGRESS AND NOT INCLUDE RECIPES **-->
    <div layout="row">
      <div layout="column" flex>
        <div>
          <h2>St&aring;tus of your Br&uuml;s</h2>
        </div>
        <div>
          <table id="brewStatusTable">
            <thead>
              <th></th>
              <th>Recipe Name</th>
              <th>Brewing Stage</th>
              <th>Review Notes?</th>
              <th>Delete Notes?</th>
              <th>Bottle Batch?</th>
              <th>Drink Batch?</th>
            </thead>

            <!-- LOAD In Progress BATCHES IN DB ONTO DOM -->
            <tbody>
              <tr ng-repeat="batches in uc.batchesInProgress">
                <td class="menuIcon"><i class="fa fa-beer"></i></td>
                <td class="menuRecipeName">{{batches.recipeName}}</td>
                <td class="menuBatchStatus">{{batches.batchStatus}}</td>
                <td class="menuEditBtn"><md-button ng-disabled="true"><i class="fa fa-2x fa-eye"></i></md-button></td>
                <td class="menuDeleteBtn"><md-button class="md-warn" ng-click="uc.deleteSelectedRecipe(batches.name, batches._id, ev)"><i class="fa fa-2x fa-trash"></i></md-button></td>
                <td class="menuBottleBtn"><md-button class="md-warn" ng-disabled="true">Bottle</md-button></td>
                <td class="menuDrinkBtn"><md-button class="md-primary" ng-click="uc.drinkBatch(batches._id)">Prost!</md-button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- RIGHT SIDE: CALENDAR, SETTINGS & IMAGE [STRETCH GOALS] -->
  <div id="recipe_rs" layout="column" flex="30">
    <div layout="row" layout-align="center center">
      <img id="calendarImg" ng-src="../../assets/img/calendar.png" width="200px" height="200px" alt="calendar icon">
    </div>
    <div layout="row" layout-align="center center">
      <md-button ng-disabled="true"><i class="fa fa-cog fa-2x"></i> User Settings</md-button>
    </div>
    <div layout="row" layout-align="center center">
      <md-button ng-disabled="true"><i class="fa fa-beer fa-2x"></i> Brewing Resources</md-button>
    </div>
    <div layout="row" layout-align="center center">
      <img ng-src="../../assets/img/drinkingGuy.jpg" alt="Drinking guy icon" width="200" height="200">
    </div>
  </div>
</div>
