<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bootcamp Test</title>
    <link rel="stylesheet" href="../styles/styleTest.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Boostrap layout test</h1>
    <div class="container">
      <div class="topRow row">
        <div class="col-md-4">
          <span>Recipe Name:</span><input type="text" placeholder="Enter recipe name">
        </div>
        <div class="col-md-4">
          <span>Beer Style:</span><input type="text" placeholder="Enter beer style">
        </div>
        <div class="col-md-4">
          <button type="button" name="button">Save Recipe</button>
        </div>
      </div>
      <div class="row mainBody">
        <div class="leftCol col-md-5">
          
          <div id="extraInfo" class="row">
            <div class="row">
              <span>Recipe Style:</span><input type="text" placeholder="Enter recipe type">
            </div>
            <div class="row">
              <span>Primary Fermentation:</span><input type="text" placeholder="Enter primary ferment. length">
            </div>
            <div class="row">
              <span>Secondary Fermentation:</span><input type="text" placeholder="Enter secondary ferment. length">
            </div>
          </div>
          <div id="description" class="row">
            <textarea name="name" rows="6" cols="40"></textarea></br>
            <button type="button" name="button">Submit</button>
          </div>
          <div id="procedure" class="row">
            <textarea name="name" rows="10" cols="40"></textarea></br>
            <button type="button" name="button">Submit</button>
          </div>
          <div id="note" class="row">
            <textarea name="name" rows="6" cols="40"></textarea></br>
            <button type="button" name="button">Submit</button>
          </div>
        </div>

        <div class="rightCol col-md-7">
          <div class="row">
            <span>Ingredients</span>&nbsp<span>Batch Size: </span>&nbsp <input type="text" placeholder="Enter batch size">
          </div>
          <div id="maltInput"class="row">
            <div class="col-md-6">
              Hop type
            </div>
            <div class="col-md-6">
              <p>Hops List</p>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Timing</th>
                </tr>
                <tr>
                  <td>Hop 1</td>
                  <td>1 oz</td>
                  <td>0 min</td>
                </tr>
                <tr>
                  <td>Hop 2</td>
                  <td>0.5 oz</td>
                  <td>15 min</td>
                </tr>
              </table>
            </div>
          </div>

          <div id="maltInput"class="row">
            <div class="col-md-6">
              Hop type
            </div>
            <div class="col-md-6">
              <p>Hops List</p>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Timing</th>
                </tr>
                <tr>
                  <td>Hop 1</td>
                  <td>1 oz</td>
                  <td>0 min</td>
                </tr>
                <tr>
                  <td>Hop 2</td>
                  <td>0.5 oz</td>
                  <td>15 min</td>
                </tr>
              </table>
            </div>
          </div>

          <div id="maltInput"class="row">
            <div class="col-md-6">
              Hop type
            </div>
            <div class="col-md-6">
              <p>Hops List</p>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Timing</th>
                </tr>
                <tr>
                  <td>Hop 1</td>
                  <td>1 oz</td>
                  <td>0 min</td>
                </tr>
                <tr>
                  <td>Hop 2</td>
                  <td>0.5 oz</td>
                  <td>15 min</td>
                </tr>
              </table>
            </div>
          </div>

          <div id="maltInput"class="row">
            <div class="col-md-6">
              Hop type
            </div>
            <div class="col-md-6">
              <p>Hops List</p>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Amount</th>
                  <th>Timing</th>
                </tr>
                <tr>
                  <td>Hop 1</td>
                  <td>1 oz</td>
                  <td>0 min</td>
                </tr>
                <tr>
                  <td>Hop 2</td>
                  <td>0.5 oz</td>
                  <td>15 min</td>
                </tr>
              </table>
            </div>
          </div>

        </div> <!-- End of right col -->
      </div> <!-- End of main body -->


    </div>

  </body>
</html>
